/*/.bin/
/*/.vs/
/microservices/.vs/
/microservices/Learn.API/bin/
/microservices/Learn.Core/bin/
/microservices/Learn.Core/obj/

/MediatorDemo/bin/
/MediatorDemo/obj/


/HttpClientFactoryDemo/bin/
/HttpClientFactoryDemo/obj/
/RemoteSiteTest/obj/
/RemoteSiteTest/obj/

/GrpcClientDemo/bin/
/GrpcClientDemo/obj/
/GrpcServerDemo/bin/
/GrpcServerDemo/obj/

/EFCoreDemo/bin/
/EFCoreDemo/obj/

/LearnDemo/bin/
/LearnDemo/obj/

/ColorCount/ColorCount/bin/
/ColorCount/ColorCount/obj/

/LinkListTest/LinkListTest/bin/
/LinkListTest/LinkListTest/obj/

/EFCoreDemo/EFCoreDemo/bin/
/EFCoreDemo/EFCoreDemo/obj/

/LearnsTest/LearnsTest/bin/
/LearnsTest/LearnsTest/obj/


/todoDockers/todoDockers/bin/
/todoDockers/todoDockers/obj/
/todoDockers/todoDockers/Properties/

/LearnsTest/LogTest/obj/

/LearnsTest/SpaceCode/obj/
/LearnsTest/SpaceCode/bin/

/RabbitMQ-Demo1/bin/
/RabbitMQ-Demo1/obj/

/StartDemo/StartDemo/bin/
/StartDemo/StartDemo/obj/

/BCTests/bin/
/BCTests/obj/
/BCTests/Properties/

/EFCoreLearn/bin/
/EFCoreLearn/obj/

/EFCoreLearn/EFCoreLearn/bin/
/EFCoreLearn/EFCoreLearn/obj/

/EFCoreLearn/EFCoreSqlLearn/bin/
/EFCoreLearn/EFCoreSqlLearn/obj/

/EFCoreLearn/ConsoleApp1/bin/
/EFCoreLearn/ConsoleApp1/obj/

